/* generale */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* tipography */
body {
  color: white;
}
.text-grey {
  color: #66686f;
}
.text-white {
  color: white;
}

h4 {
  color: #66686f;
}
/* utilities */
.lista-oriz li {
  display: inline-block;
  padding-right: 5px;
}

.lista-oriz li a {
  text-decoration: none;
  color: white;
}

.lista-ver {
  list-style: none;
}

.lista-ver li a {
  text-decoration: none;
  color: #66686f;
}

.text-center {
  text-align: center;
}

.bordo-tondo {
  border-radius: 200px;
}

/* effetto zoom */
.zoom {
  transition: transform .2s;
}
.zoom:hover {
  transform: scale(1.2);
}
/* layout */
.app {
  display: flex;
  flex-direction: column;
  height: 100vh; /*imposto il tutto grande quanto viewport*/
  background-color: black; /* DEBUG:  */
}

/* MAIN-WINDOW */
.main-window {
  display: flex;
  flex-grow: 1; /*valore 1: il div occupera' tutto lo spazio della viewport*/
}
/* MAIN-WINDOW / SIDEBAR */
.main-window .sidebar {
  flex-basis: 200px;
  display: flex;
  flex-direction: column;
}

/*  MAIN-WINDOW / SIDEBAR/ SIDERBAR UP */
.sidebar .sidebar-up {
  flex-grow: 1;
  padding-top: 10px;
}

.sidebar-list li {
  margin-bottom: 10px;
}

.sidebar .sidebar-up .sidebar-logo img {
  width: 155px;
}

.sidebar .sidebar-up .sidebar-nav,
.sidebar .sidebar-up .sidebar-playlist {
  padding-top: 15px;
}

.sidebar .sidebar-up .sidebar-nav ul li,
.sidebar .sidebar-up .sidebar-playlist ul li {
  padding-left: 15px;
}

.sidebar .sidebar-up .sidebar-nav i,
.sidebar .sidebar-up .sidebar-playlist i {
  font-size: 18px;
  color: #66686f;
  font-weight: 650;
  margin-right: 5px;
}

.sidebar .sidebar-up .sidebar-nav ul li:first-child {
  border-left: solid 1px white;
}

.sidebar .sidebar-up .sidebar-playlist h2 {
  padding-left: 15px;
}

.sidebar .sidebar-up .sidebar-playlist i {
  font-size: 35px;
}

.sidebar .sidebar-up .sidebar-playlist ul  li:first-child a {
  display: flex;
  align-items: center;

}

.sidebar .sidebar-up .sidebar-nav li:first-child i,
.sidebar .sidebar-up .sidebar-nav li:first-child a {
  color: white;
}
/* .sidebar .sidebar-up .sidebar-playlist ul li:first-child {
  position: relative;
}

.sidebar .sidebar-up .sidebar-playlist ul li:first-child a:first-child {
  position: absolute;
  top: 2px;
} */



/*  MAIN-WINDOW / SIDEBAR/ SIDERBAR BOTTOM */
.sidebar .sidebar-bottom {
  padding-left: 15px;
  height: 80px;
}

.sidebar .sidebar-bottom i {
  margin-bottom: 10px;
}

/* .sidebar .sidebar-bottom link a {
  text-decoration: none;
  color: #66686f;
} */

.sidebar .sidebar-bottom i {
  margin-right: 10px;
}

.sidebar .sidebar-bottom .account {
  margin-top: 15px;
  color: white;
}

.sidebar .sidebar-bottom .account i {
  font-size: 20px;
}

/* MAIN-WINDOW / CONTENT */
.main-window .content {
  position: relative; /*il padre e' reso relative*/
  flex-grow: 1; /*occupera' tutto lo spazio della vh disponibile*/
  background-color: #444;/* DEBUG:  */
}

/* MAIN-WINDOW / CONTENT/ TOPBAR */
.main-window .content .content-topbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(50, 50, 0, .5);
  /* opacity: 0.5; */
  z-index: 1;
}

.main-window .content .content-topbar button {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 7px;
  border-radius: 20px;
  background-color: black;
  text-transform: uppercase;
  border: solid 1px #66686f;
}

.main-window .content .content-topbar button a {
  text-decoration: none;
  color: #66686f;
}

/* MAIN-WINDOW/ CONTENT/ SCROLLABLE*/
.content .scrollable {
  position: absolute; /*rendo absolute, ma devo inserire position relative il padre*/
  left: 0; /*sta a sx rispetto al contenitore padre*/
  width: 100%;
  height: 100%;
  overflow-y: auto; /*se il contenuto supera il 100% diventa scrollable*/

  /* alternativa all' absolute */
  /* height: calc(100vh- 70px); */

  background-color: black;
  padding-top: 90px;
  padding-left: 15px;
  padding-right: 15px;
}


/*MAIN-WINDOW/ CONTENT/ SCROLALBLE/ NAV*/
.scrollable .content-nav {
  height: 50px;
  text-transform: uppercase;
}

.scrollable .content-nav li {
  margin-right: 5px;
  margin-bottom: 10px;
}
.scrollable .content-nav a {
  padding-right: 8px;
}

.scrollable .content-nav .sottolineato {
  border-bottom: solid 2px #acfe2e;

}

/* MAIN-WINDOW/ CONTENT/ SCROLLABLE/ CONTENT-CATEGORIA*/
.content .scrollable .content-categoria{
  height: 400px;
  margin-bottom: 20px;
  /* background-color: lightblue; /* DEBUG:  */ */
}



.content .scrollable .content-categoria .lista-album {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 20px;
}

.content .scrollable .content-categoria .lista-album .album {
  flex-basis: calc((100% / 6) - 15px);
  height: 250px;
  /* min-height: 300px; /* DEBUG: */
  border: solid 1px black;
  margin-right: 15px;
}

.content .scrollable .content-categoria .lista-album .album .album-img {
  max-width: 100%;
  height: 200px;
}

.lista-album .album .album-img img {
  height: 100%;
  max-width: 100%;
}

/* APP/ PLAYER */
.player {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background-color: black;
}

.player-album,
.player-controller,
.player-audio {
  /* height: 80px; */
  padding: 10px;
}

/* APP/ PLAYER/ PLAYER-ALBUM */
.player-album{
  flex-basis: 230px;
  display: flex;

}

.player-album .img-brano {
  width: 55px;
  margin-right: 5px;
}

.player-album .img-brano img {
  width: 100%;
  height: 100%;
}

.player-album .icone {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.player-album .icone i {
  font-size: 20px;
  margin-right: 5px;
}


/* APP/ PLAYER/ PLAYER-CONTROLLER/ PULSANTI */
.player-controller{
  flex-basis: 650px;
  display: flex;
  flex-direction: column;
}

.player-controller .pulsanti {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;

}
.player-controller .pulsanti i {
  margin-right: 15px;
}

.player-controller .pulsanti span:nth-child(3) i{
  font-size: 35px;
}

.player-audio {
  flex-basis: 230px;
}

/* APP/ PLAYER/ PLAYER-CONTROLLER/ TIMELINE */
/* .player-controller .timeline {
  display: flex;
  align-items: center;
} */
.timeline {
  display: flex;
  align-items: center;
}
/* APP/ PLAYER/ PLAYER-CONTROLLER/ TIMELINE/ MIN-INIZIO E MIN-FINE  */
.player-controller .timeline .min-inizio {
  margin-right: 15px;

}

.player-controller .timeline .min-fine {
  margin-left: 15px;
}

/* APP/ PLAYER/ PLAYER-CONTROLLER/ TIMELINE/ LINEA */
/* .player-controller .timeline .linea {
  display: flex;
  flex-grow: 1;
  flex-direction: row-reverse;
} */
.timeline .linea {
  display: flex;
  flex-grow: 1;
  flex-direction: row-reverse;
}

/* .player-controller .timeline .linea .timeline-0 {
  height: 5px;
  flex-grow: 1;
  background-color: orange;
  border: solid 1px orange;
} */

.timeline .linea .timeline-0 {
  height: 5px;
  flex-grow: 1;
  background-color: #66686f;
  border: solid 1px #66686f;
}


/* .player-controller .timeline .linea .timeline-1 {
  height: 5px;
  flex-basis: 30%;
  background-color: green;
  border: solid 1px green;
} */
.timeline .linea .timeline-1 {
  height: 5px;
  flex-basis: 30%;
  background-color: #bababa;
  border: solid 1px #bababa;
}



/* PLAYER AUDIO */
.player-audio {
  display: flex;
  align-items: center;
}
.player-audio .timeline {
  flex-grow: 1;
  margin-left: 10px;
}

.player-audio .icone i {
  margin-right: 10px;
}


/* RESPONSIVE: 600 */
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .content .scrollable .content-categoria .lista-album .album {
    flex-basis: calc((100% / 2) - 15px);
    margin-bottom: 50px;
  }

  .content .scrollable .content-categoria  {
    margin-bottom: 530px;
    /* flex-grow: 1; */
  }



  /* MAIN-WINDOW / SIDEBAR */
  .main-window .sidebar {
    flex-basis: 10px;
  }

  /*  MAIN-WINDOW / SIDEBAR/ SIDERBAR UP */
  .sidebar .sidebar-up .sidebar-logo img {
    display: none;

  }
  .sidebar .sidebar-up .sidebar-logo {
    background-image: url("./img/logo-small.svg");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    margin-left: 10px;
  }



.sidebar .sidebar-up .sidebar-nav li span,
.sidebar .sidebar-bottom span {
  display: none;
}

/* controllare qusto! */
.sidebar .sidebar-up .sidebar-nav i {
  font-size: 30px;
  text-align: center;
}


.sidebar .sidebar-bottom .account {
  margin-top: 0;
}


.sidebar .sidebar-bottom .account i {
  font-size: 40px;

}

.sidebar .sidebar-bottom .line-account {
  display: none;
}

  .sidebar .sidebar-up .sidebar-playlist {
    display: none;
  }




  /*  MAIN-WINDOW / SIDEBAR/ SIDERBAR BOTTOM */
  .sidebar .sidebar-bottom {
    padding-left: 15px;
    height: 80px;
  }

  .sidebar .sidebar-bottom i {
    margin-bottom: 10px;
  }

  /* .sidebar .sidebar-bottom link a {
    text-decoration: none;
    color: #66686f;
  } */

  .sidebar .sidebar-bottom i {
    margin-right: 10px;
  }



}


/* RESPONSIVE: 1024 */
@media screen and (min-width: 1024px) and (max-width: 1300px){

  .content .scrollable .content-categoria .lista-album .album {
    flex-basis: calc((100% / 4) - 15px);

  }

    .content .scrollable .content-categoria  {
      margin-bottom: 250px;
    }
}
