* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  color: white;
}

.app {
  height: 100vh; /*imposto il tutto grande quanto viewport*/
  background-color: lightblue;
}

.main-window {
  background-color: red;
}

.player {
  height: 80px; /* DEBUG:  */
  background-color: black;
}
